@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  font-family: 'Adamina', serif;
  background-color: white;

  .navbar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.home-page {
  .feature-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    // background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  .shadow-md-no-off {
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.8));
  }
}

.profile-page {
  .custom-left-shadow {
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.1);
  }

  .custom-right-shadow {
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.1);
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slideOutRight {
    from {
      opacity: 1;
      transform: translateX(-100%);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .slide-in-bids {
    opacity: 1;
    animation: slideInLeft 0.5s ease-out forwards;
  }

  .slide-out-bids {
    opacity: 0;
    animation: slideOutRight 0.5s ease-out forwards;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.base-loading {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #d3d3d3;
  border-radius: 5px;

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    animation: loading 1s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}